@import "tailwindcss";
@config "../../tailwind.config.js";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: 125 900;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}

.vertical-line {
  border-right: 4px solid #212121;
  width: 0;
  /* height: 250px; */
}

@utility shadow-outline { 
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); 
}

header {
  line-height: 1.5em !important;
}