.graphic[data-v-3dd438b8]{width:30rem;height:15rem}@media(min-width:480px){.graphic[data-v-3dd438b8]{width:60rem;height:30rem}}#spinner[data-v-3dd438b8]{width:1200px!important;height:400px!important}
