.graphic[data-v-3dd438b8]{height:15rem;width:30rem}@media(min-width:480px){.graphic[data-v-3dd438b8]{height:30rem;width:60rem}}#spinner[data-v-3dd438b8]{height:400px!important;width:1200px!important}
