.hero-software[data-v-d4a5a6c7]{background:100% 100% no-repeat url(../img/graphics/chevrons.jpg)}a[data-v-d4a5a6c7]{text-decoration:underline}.privacy-list[data-v-d4a5a6c7]{list-style:disc;margin-left:2em;margin-top:1em}
