table{border-collapse:separate;border-spacing:0}.vert-header{text-orientation:mixed;writing-mode:vertical-lr}.hero-hardware[data-v-5f9bc705]{background:100% 100% no-repeat url(../img/graphics/hardware.jpg)}
